<div *ngIf="contentStep == 1" class="form-container center column2 middle no-float">
    <img class="icon-create-provider m-bottom-8" src="/o/mkpl-create-provider/icons/create-provider.png" alt="Crear proveedor">
    <h2 class="title-medium tiber bold column2 center m-bottom-6">Crear proveedores</h2>
    <p class="description-provider deep-sea-green text-big text-center">
        Comienza creando los proveedores actuales y activos en tu empresa. <br> La información que se solicita es de carácter <strong class="bold">*obligatorio</strong> para la correcta creación. Haz clic en Crear proveedor para comenzar.
    </p>
    <button class="button-primary" (click)="showForm()" type="button">Crear proveedor</button>
</div>

<div *ngIf="contentStep == 2" class="form-container column2 start">
    <a class="poppins text-big deep-sea-green bold m-bottom-6 row2 middle link-simple" href="/providers">
        <i class="icon icon-long-left-arrow deep-sea-green title-medium m-right-1"></i>Volver
    </a>
    <h2 class="deep-sea-green text-big poppins bold m-bottom-6">Proveedores</h2>
    <form class="form-inner-container column2 center m-bottom-11 start" [formGroup]="form" (ngSubmit)="createProvider()">
        <h2 class="title-medium tiber text-center bold m-bottom-4 bold">Crear proveedor</h2>
        <p class="form-subtitle text-center text-big deep-sea-green m-bottom-14">
            La siguiente es información básica y <strong class="bold">*obligatoria</strong> para la correcta creación de un proveedor.
        </p>
        <!-- TODO  -->
        <stepper class="m-bottom-7" [currentStep]="form.invalid ? currentStep : 3" [qtySteps]="2">
        </stepper>
        <div class="form-step-container width-100 column2">
            <!-- Step 1 -->
            <div *ngIf="isViewableGeneralForm" formGroupName="general">
                <h3 class="title-medium deep-sea-green m-bottom-9">Datos generales</h3>
                <app-input-control formControlName="company" label="Nombre del proveedor" id="company" classContainer="m-bottom-9">
                </app-input-control>
                <app-input-control formControlName="nit" label="NIT" id="nit" classContainer="m-bottom-9">
                </app-input-control>
                <app-select-control formControlName="country" label="País" id="country" classContainer="m-bottom-9" 
                    [data]="countries" (valueChange)="changeCountry($event)">
                </app-select-control>
                <app-select-control formControlName="region" label="Región" id="region" classContainer="m-bottom-9"
                    [data]="regions" (valueChange)="changeRegion($event)">
                </app-select-control>
                <app-select-control formControlName="city" label="Ciudad" id="city" classContainer="m-bottom-9" [data]="cities">
                </app-select-control>
                <app-input-control formControlName="address" label="Dirección" id="address" classContainer="m-bottom-9">
                </app-input-control>
                <div class="row2 center">
                    <button *ngIf="form.get('general').valid" (click)="closeForm()" class="button-secondary m-right-4" type="button">
              Cancelar
            </button>
                    <button [disabled]="form.get('general').invalid" (click)="showContactForm()" class="button-primary" type="button">
              Siguiente
            </button>
                </div>
            </div>

            <!-- Step 2 -->
            <div *ngIf="isViewableContactForm" formGroupName="contact" class="column2">
                <h3 class="title-medium deep-sea-green m-bottom-4">Datos de contacto</h3>
                <p class="form-subtitle description text-big deep-sea-green m-bottom-9">
                    La siguiente es información básica sobre un responsable de la plataforma para resolver posibles dificultades.
                </p>
                <app-input-control formControlName="contactName" label="Nombre de contacto" id="contactName" classContainer="m-bottom-9">
                </app-input-control>
                <app-input-control formControlName="contactPhone" label="Teléfono de contacto" id="contactPhone" classContainer="m-bottom-9">
                </app-input-control>
                <app-input-control formControlName="contactEmail" label="Correo electrónico" id="contactEmail" classContainer="m-bottom-9">
                </app-input-control>
                <h3 class="form-subtitle description text-big deep-sea-green bold m-bottom-3">
                    Datos del administrador general
                </h3>
                <p class="text-normal deep-sea-green m-bottom-9">
                    Ingresa el correo electrónico del administrador que tendrá acceso a la plataforma
                </p>
                <app-input-control formControlName="adminEmail" label="Correo electrónico administrador" id="adminEmail" classContainer="m-bottom-9">
                </app-input-control>
                <div class="row2 center">
                    <button (click)="closeContactForm()" class="button button-secondary m-right-4" [disabled]="loadingRequest" type="button">
              Atrás
            </button>
                    <button *ngIf="form.get('contact').invalid" class="button-primary" disabled type="button">
              Siguiente
            </button>
                </div>
            </div>
        </div>
        <div class="button-container width-100 row2 end">
            <button [disabled]="form.invalid" type="submit" class="button-primary">
          Crear proveedor
        </button>
        </div>
    </form>
</div>

<modal id="modal-provider" class="modal-hidden" classContent="modal-content-create-prov" (closeModal)="closeModal('modal-provider')" applyPadding>
    <div class="modal-content-create-prov column2 center">
        <div class="header-content width-100 row2 center middle m-bottom-4">
            <img class="modal-img" [src]="requestError ? '/o/mkpl-create-provider/icons/doc-error.svg' : '/o/mkpl-create-provider/icons/doc-success.svg'" alt="Estado" />
        </div>
        <h2 class="general-title text-center poppins bold m-bottom-4" [ngClass]="{ 'deep-sea-green ': !requestError, 'text-error' : requestError }">
            {{requestError ? '¡Los datos no se guardaron!' : 'Proveedor creado!'}}
        </h2>
        <p class="form-subtitle description m-bottom-9 text-center" [ngClass]="{ 'deep-sea-green ': !requestError, 'text-error' : requestError }">
            {{requestError ? 'Los datos ingresados no fueron guardados, por favor inténtalo nuevamente.' : 'Los datos ingresados se guardaron con éxito'}}
        </p>
        <button class="button-primary m-bottom-9" (click)="closeModal('modal-provider')" type="button">
        {{requestError ? 'Ingresar datos' : 'Regresar'}}
      </button>
    </div>
</modal>